# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# PyInstaller
build/
dist/
*.spec

# Yerel / gecici
*.exe
*.log
Thumbs.db
Desktop.ini
.DS_Store
_*.png

# IDE
.vscode/*
!.vscode/launch.json

# Test/performans artefaktlari
*.enc
test_*.enc
